* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.app-container {
    background: #fff;
    padding: 20px 25px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#addBtn {
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#addBtn:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #fafafa;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}

li.completed {
    text-decoration: line-through;
    color: #666;
    background: #e4e4e4;
}

.delete-btn {
    background: red;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}